* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg_main.jpg") ;
    color: #435160 !important;
    font-family: "IRANSans" !important;
}



label{
    display: none !important;
}
.cover-login{
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
}


.bg-login{
    height: 100vh;
}

h2 {
    color: #6D7781;
    font-family: "IRANSans" !important;

    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #435160;
    text-decoration: none;
}

.login {
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
}

select , textarea , input[type="text"], input[type="password"] {


    width: 350px !important;

    background: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid #435160 !important;
    outline: none !important;
    color: #6D7781 !important;
    font-size: 16px !important;
}
input[type=checkbox] {
    display: none;
}

label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #435160;
}

#agree:checked ~ label[for=agree] {
    background: #435160;
}

input[type="submit"] {
    background: #1FCE6D;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
    background: #16aa56;
    animation-name: shake;
}

.forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
.forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6D7781;
}

.agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
}

::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}



